<div class="flow-container bg-success">
  <div class="row">
      <div class="col-12">
        <p>Componente 1</p>
        <button type="button" (click)="eventoBoton()" class="btn btn-primary btn-blok">Intercambiar</button>
      </div>
  </div>
  
  <div class="row">
      <app-componente4 class="col-4 bg-info"></app-componente4>

      <div class="col-8">
          <div class="row">
              <div class="col-12">
                  <app-componente2 [componenteCurso]="curso1" [contadorC2]="contador"></app-componente2>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <app-componente3 [componenteCurso3]="curso2" [contadorC3]="contador"></app-componente3>
              </div>
          </div>
      </div>
  </div>
</div>
