<div class="bg-warning ">
  <p>Componente 3</p>
  <p>{{curso2C3.nombre}}</p>
  <p>{{curso2C3.descripcion}}</p>
  <p>{{contadorC3}}</p>
  <div class="col-6">
    <div class="form-group">
      <label for="usr2">Nombre:</label>
      <input id="usr2" type="text" [(ngModel)]="curso2C3.nombre" class="form-control">
    </div>
    <div class="form-group">
      <label for="desc2">Descripcion:</label>
      <input id="desc2" type="text" [(ngModel)]="curso2C3.descripcion" class="form-control">
    </div>
  </div>
</div>
