<div class="bg-warning ">
    <p>componente3 works!</p>
    <hr>
    <h1>{{title}}</h1>
    <button (click)="num=num/2">/2</button>
    <span>{{num}}</span>
    <button (click)="num=num*2">*2</button>

    <nav aria-label="...">
        <ul class="pagination pagination-lg">
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
    </nav>
</div>
